<section class="banar">
  <div class="contents">

    <div class="items i1">
      <div class="item">
         <h1 class="he">01</h1> 
        <div class="b"></div>
        <div class="text">
          <h1>
            Project <br />
            Visualisation
          </h1>
          <p>
            On her way she met a copy. The copy warned <br />
            the Little Blind Text, that where it came from
          </p>
        </div>
      </div>
    </div>

    <div class="items shadow i2">
      <div class="item">
         <h1 class="he">02</h1> 
        <div class="b"></div>
        <div class="text">
          <h1>
            Project <br />
            Visualisation
          </h1>
          <p>
            On her way she met a copy. The copy warned <br />
            the Little Blind Text, that where it came from
          </p>
        </div>
      </div>
    </div>


    <div class="items i3">
      <div class="item">
         <h1 class="he">03</h1> 
        <div class="b"></div>
        <div class="text">
          <h1>
            Project <br />
            Visualisation
          </h1>
          <p>
            On her way she met a copy. The copy warned <br />
            the Little Blind Text, that where it came from
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
